    </main>
    <div class="footer">
        <h1>Created by <span><a href="https://github.com/sky8the2flies/" target="_blank">/sky8the2flies</a></span></h1>
        <h4><span><a href="https://github.com/sky8the2flies/short-url" target="_blank">Open src on Git Hub</a></span></h4>
    </div>
</body>
</html>