    </main>
    <div class="footer">
        <h1>Created by<span><a href="https://github.com/sky8the2flies/" target="_blank">/sky8the2flies</a></span></h1>
        <a href="https://github.com/sky8the2flies/short-url" target="_blank">OPEN SRC ON GIT HUB</a>
    </div>
</body>
</html>