<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Url</title>
</head>
<body>
    <h1>Create a short url</h1>
    <form action="/" method="POST" autocomplete="off">
        <h2>Url extension</h2>
        <input type="text" name="url">
        <h2>Url link</h2>
        <input type="text" name="link" required>
        <button type="submit">Create Link</button>
      </form>
</body>
</html>