:root {
  --light-dark-blue: #265b8d;
  --light-light-blue: #64acce;
  --light-dark: #3F3E43;
  --light-dark-gray: #CBCCD0;
  --light-light-gray: #EAEAEA;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}