body {
  height: 100vh;
  display: grid;
  color: var(--light-dark);
  grid-template-rows: 50px 1fr 100px;
  grid-template-areas: 
  "nav"
  "main"
  "footer";
}

body > main {
  grid-area: main;
  background: var(--light-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  background: var(--light-dark-gray);
  box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}

#container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.required {
  position: relative;
  color: red;
}

#container .content {
  position: relative;
  text-align: center;
}

#container .content .url-form {
  width: 100%;
  height: 100%;
  background: var(--light-light-gray);
}

#container .content .url-form h1 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
  margin: 20px;
}

#container .content .url-form .form-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

#container .content .url-form .form-box .input-box {
  position: relative;
  margin: 0 0 35px 0;
}

#container .content .url-form .form-box .input-box.w50 {
  width: 51%;
}

#container .content .url-form .form-box .input-box input {
  width: 100%;
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  background: var(--light-light-gray);
  border-bottom: 1px solid #777;
  outline: none
}

#container .content .url-form .form-box .input-box span.label {
  position: absolute;
  left: 0;
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}

#container .content .url-form .form-box .input-box input:focus ~ span,
#container .content .url-form .form-box .input-box input:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;
}

#container .content .url-form .form-box .input-box input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #0f3959;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
  transition: 0.3s;
}

#container .content .url-form .form-box .input-box input[type="submit"]:hover {
  background: #ff568c;
  transition: 0.3s;
}

.error {
  position: absolute;
  top: 55px;
  padding: 5px;
  z-index: 999;
  background: var(--light-dark-gray);
  box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
  text-align: center;
  color: red;
  width: 90%;
  cursor: pointer;
  opacity: .8;
}

.view-url {
  width: 100%;
  text-align: center;
}

.view-url a, .view-url button {
  font-variant: small-caps;
  margin: 20px 0px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  transition: .3s;
  border: 2px solid var(--light-dark);
  background: transparent;
  cursor: pointer;
}

.view-url a:hover {
  transition: .3s;
  background-color: var(--light-dark);
  color: var(--light-dark-gray);
}

.view-url button:hover {
  transition: .3s;
  background-color: var(--light-dark);
  color: var(--light-dark-gray);
}

#copy-text {
  display: none;
}

@media only screen and (min-width: 600px) {
  #container {
    width: 75%;
    height: 75%;
  }
  #container .content .url-form {
    border-radius: 10px;
  }
}
