body {
  height: 100vh;
  display: grid;
  color: var(--light-dark);
  grid-template-rows: 50px 1fr 100px;
  grid-template-areas: 
  "nav"
  "main"
  "footer";
}

body > main {
  grid-area: main;
  /* background: linear-gradient(10deg, var(--light-light-blue), var(--light-dark-blue)); */
  background: var(--light-dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-dark-gray);
}

#container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.required {
  position: relative;
  color: red;
}

#container .content {
  position: relative;
  text-align: center;
}

#container .content .url-form {
  width: 100%;
  height: 100%;
}

#container .content .url-form h1 {
  color: var(--light-dark-blue);
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.2),
              10px 10px 15px rgba(0, 0, 0, 0.1);
}

#container .content .url-form .form-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

#container .content .url-form .form-box .input-box {
  position: relative;
  margin: 0 0 35px 0;
}

#container .content .url-form .form-box .input-box.w50 {
  width: 41%;
}

#container .content .url-form .form-box .input-box input {
  width: 100%;
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 300;
  color: var(--light-dark);
  border: none;
  outline: none;
  padding: 10px;
  background-color: var(--light-dark-gray);
  border-radius: 10px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.2),
              10px 10px 15px rgba(0, 0, 0, 0.1);
}

#container .content .url-form .form-box .input-box span.label {
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 300ms;
  pointer-events: none;
}

#container .content .url-form .form-box .input-box input:focus ~ span,
#container .content .url-form .form-box .input-box input:valid ~ span {
  transform: translate(-5px, -25px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--light-pink);
}

#container .content .url-form .form-box .input-box input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: var(--light-light-blue);
  color: var(--light-light-gray);
  border: none;
  max-width: 150px;
  padding: 12px;
  transition: 250ms background ease;
  border-radius: 10px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
}

#container .content .url-form .form-box .input-box input[type="submit"]:hover {
  background: var(--light-pink);
}

.error {
  position: absolute;
  top: 55px;
  padding: 5px;
  z-index: 999;
  background: var(--light-dark-gray);
  box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
  text-align: center;
  color: var(--light-pink);
  width: 90%;
  cursor: pointer;
  opacity: .8;
}

.view-url {
  width: 100%;
  text-align: center;
  color: var(--light-light-gray);
}

.view-url a, .view-url button {
  font-variant: small-caps;
  margin: 20px 0px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  transition: 250ms color ease, 250ms background ease;
  border: 2px solid var(--light-dark);
  background: transparent;
  cursor: pointer;
  color: var(--light-light-blue)
}

.view-url a:hover, .view-url button:hover {
  background: var(--light-dark);
  color: var(--light-dark-gray);
}

#copy-text {
  display: none;
}
